<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="HospitalAutomation.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <HospitalAutomation.Properties.Settings>
            <setting name="identityNumber" serializeAs="String">
                <value />
            </setting>
            <setting name="password" serializeAs="String">
                <value />
            </setting>
            <setting name="rememberMe" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="mainPanelColor" serializeAs="String">
                <value>225, 37, 27</value>
            </setting>
            <setting name="userPanelColor" serializeAs="String">
                <value>29, 53, 135</value>
            </setting>
            <setting name="mainPanelTextColor" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="userPanelTextColor" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="isDarkMode" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="textFont" serializeAs="String">
                <value>Century Gothic, 8.25pt</value>
            </setting>
            <setting name="isMainPanelColorChange" serializeAs="String">
                <value>False</value>
            </setting>
        </HospitalAutomation.Properties.Settings>
    </userSettings>
</configuration>